.done-true {
  text-decoration: line-through;
  color: grey;
}
html, body {
  height: 100%;
  --background-color: black;
  font-family: 'Roboto Mono';
}
#main {
  overflow: auto;
  padding-bottom: 150px;
  /* this needs to be bigger than footer height*/
}
.footer {
  position: relative;
  margin-top: -150px;
  /* negative value of footer height */
  height: 150px;
  clear: both;
  padding-top: 20px;
}
.mainTemp {
  font-size: 250%;
  font-weight: lighter;
}
.mainDesc {
  font-size: 125%;
  font-weight: lighter;

}

.weatherImgSize{
  width: 125px;
  height: 125px;
}

.hidden{
  display: none;
}

.backgroundTest{
  background-color: black;
  color: white;
}

.mainAuthor{
  text-align: right;
  font-weight: bold;
}
